<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
   
    <title>Diabetes</title>
</head>
<body>
    
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                
                <span class="ml-3 text-xl">Diabetes predictor</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
                <a href="#home" class="mr-5 hover:text-white">Home</a>
                <a href="#symptoms" class="mr-5 hover:text-white">Symptoms</a>
                <a href="#predictor" class="mr-5 hover:text-white">Approach</a>
                <a href="" class="mr-5 hover:text-white">Github</a>
            </nav>
            
        </div>
    </header>
    <section class="text-gray-400 bg-gray-900 body-font" id="home">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div
                class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Diabetes mellitus
                    
                </h1>
                <p class="mb-8 leading-relaxed">Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your
                main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food
                get into your cells to be used for energy.</p>
                
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                <img class="object-cover object-center rounded" alt="hero" src="/static/main.jpeg">
            </div>
        </div>
    </section>
    <section class="text-gray-400 bg-gray-900 body-font" id="symptoms">
        <div class="container px-5 py-5 mx-auto">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-white mb-10"> Diabetic Symptoms
            </h1>
        </div>
    </section>

    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-5 mx-auto">
            <div class="flex flex-wrap -m-4">
                <div class="p-4 lg:w-1/3">
                    <div
                        class="h-full bg-gray-800 bg-opacity-40 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                        <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">Frequent Urination</h1>
                        <p class="leading-relaxed mb-3">Frequent urination can have causes that aren't due to underlying disease. Examples include drinking large amounts of
                        liquid, caffeine intake, pregnancy or anxiety.</p>
                        
                        
                    </div>
                </div>
                <div class="p-4 lg:w-1/3">
                    <div
                        class="h-full bg-gray-800 bg-opacity-40 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                        <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">Feeling  very hungry or thirsty 
                        </h1>
                        <p class="leading-relaxed mb-3">It occurs as a result of extremely high blood sugar levels and is typically accompanied by other symptoms, including
                        excessive thirst, weight loss, and fatigue</p>
                        
                    </div>
                </div>
                <div class="p-4 lg:w-1/3">
                    <div
                        class="h-full bg-gray-800 bg-opacity-40 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                        <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">Extreme Fatigue
                        </h1>
                        <p class="leading-relaxed mb-3">Fatigue can have causes that aren't due to underlying disease. Examples include lack of sleep, heavy exertion, jet lag,
                        a large meal or ageing.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-5 mx-auto">
            <div class="flex flex-wrap -m-4">
                <div class="p-4 lg:w-1/3">
                    <div
                        class="h-full bg-gray-800 bg-opacity-40 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                        <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">Blurred Vision</h1>
                        <p class="leading-relaxed mb-3">Blurred vision can have causes that aren't due to underlying disease. Examples include eye rubbing, dry eyes, crying,
                        ageing or incorrect eyeglass prescription.</p>
    
    
                    </div>
                </div>
                <div class="p-4 lg:w-1/3">
                    <div
                        class="h-full bg-gray-800 bg-opacity-40 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                        <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">Bruises
                        </h1>
                        <p class="leading-relaxed mb-3">Blood or bleeding under the skin due to trauma of any kind; typically black and blue at first, with colour changes as
                        healing progresses.</p>
    
                    </div>
                </div>
                <div class="p-4 lg:w-1/3">
                    <div
                        class="h-full bg-gray-800 bg-opacity-40 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                        <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">Tingling,Pain or Numbness
                        </h1>
                        <p class="leading-relaxed mb-3">Tingling (paresthesia) is an unusual sensation most commonly felt in your hands, feet, arms and legs. Tingling is often decreases in the ability to feel or sense pressure or texture.</p>
    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-gray-400 bg-gray-900 body-font relative " id="predictor">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Predictor</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base"> When the Glucose and Insulin level is entered ,the predictor will predict whether the person is either healthy or non diabetic or diabetic 
                </p>
            </div>
            <form class="form-horizontal" action="/predict/" method="post">
    
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Glucose">Glucose :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="Glucose" name="Glucose">
                    </div>
                </div>
    
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Insulin">Insulin :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="Insulin" name="Insulin">
                    </div>
                </div>
    
                <div class="form-group">
                    <label class="control-label col-sm-2" for="">&nbsp;</label>
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-primary">Predict</button>
                    </div>
                </div>
            </form>
            <div class="p-2 w-full pt-8 mt-8 border-t border-gray-800 text-center">
                <a class="text-indigo-400">abc@email.com</a>
                    
            </div>
        </div>
        </div>
        </div>
    </section>
    
</body>
</html>